{% extends "layout.html" %}
{% block content %}
<h1>Dashboard</h1>
<div class="row">
    <div class="col-md-3">
        <div class="card text-white bg-info mb-3">
            <div class="card-body">
                <h5 class="card-title">Interesting Number 1</h5>
                <p class="card-text">{{ interesting_numbers.number1 }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-success mb-3">
            <div class="card-body">
                <h5 class="card-title">Interesting Number 2</h5>
                <p class="card-text">{{ interesting_numbers.number2 }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-warning mb-3">
            <div class="card-body">
                <h5 class="card-title">Interesting Number 3</h5>
                <p class="card-text">{{ interesting_numbers.number3 }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-danger mb-3">
            <div class="card-body">
                <h5 class="card-title">Interesting Number 4</h5>
                <p class="card-text">{{ interesting_numbers.number4 }}</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div id="chart1"></div>
    </div>
    <div class="col-md-6">
        <div id="chart2"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div id="chart3"></div>
    </div>
    <div class="col-md-6">
        <div id="chart4"></div>
    </div>
</div>
{% endblock %}
